langchain
langchain-core
langchain-community

langgraph

openai
langchain-openai

python-dotenv

pydantic

tiktoken

fastapi
uvicorn

httpx

pypdf

faiss-cpu

sentence-transformers

langchain-text-splitters

langsmith

langchain-mistralai

customtkinter

streamlit

torchvision